@using System.Web.Razor.Parser.SyntaxTree
@using Postback.Dominio
@model Postback.UI.WebApp.Controllers.ExibirQuadroViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Quadro.Descricao</h1>

<ul class="template centralizado">
    @foreach (var categoria in Model.Grupos.GroupBy(x => x.Categoria))
    {
        <li class="categoria">
            <h2>@categoria.Key.Descricao</h2>

            @foreach (var grupo in Model.Grupos.Where(x => x.Categoria.Descricao == categoria.Key.Descricao))
            {
                <ul class="agrupamento grupo">
                    @foreach(var postIt in grupo.PostIts)
                    {
                        <li class="postIt" style="border-left: solid 5px @categoria.Key.CorHexadecimal;">
                            <p class="conteudo">@postIt.Conteudo</p>
                            <p class="hashtag">#@postIt.Assunto</p>
                        </li>
                    }
                </ul>
            }
        </li>
    }
</ul>